body {
  margin: 0px;
  padding: 0px;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.jumbotron {
  background: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: left;
}

.navbar-dark {
  background: rgba(0, 0, 0, 0.3);
}

.navbar li a {
  color: white;
}

.navbar a:hover {
  color: grey;
  text-decoration: none;
  border-bottom: #69a6db 3px solid;
  padding-bottom: 1px;
}

#introduction {
  color: white;
}

#introduction h1 {
  text-shadow: 1px 1px 4px #000;
}

.container {
  color: white;
}

#introduction::before {
  content: "";
  background: url("../images/bg.png") no-repeat center center/cover;
  background-attachment: fixed;
  position: absolute;
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

.btn-outline-square {
  border: 3px solid #215c8f;
  border-radius: 5px;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
}

.btn {
  margin: 0px 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.btn-group a:hover {
  background-color: #215c8f;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: all 0.5s;
}

.icon-group a {
  margin: 5px 5px;
  color: #fff;
  font-size: 30px;
}

.icon-group a:hover {
  color: #215c8f;
}

#about-section {
  color: black;
  margin-bottom: 50px;
}

#about-section h1 {
  font-weight: 501;
  margin-top: -0.5rem;
}

.underline-section {
  border-bottom: 3px solid #2a68aa;
  width: 120px;
  margin-top: -6.5px;
}

.about-text {
  margin-right: auto;
  margin-left: 20px;
}

.about-text a {
  margin-left: 0px;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
}

.about-text a:hover {
  border: 3px solid rgb(165, 163, 163);
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.image {
  width: 300px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  background-color: rgb(231, 228, 228);
  padding-bottom: 10px;
  margin-bottom: 50px;
}

#portfolio-section {
  color: black;
}

.badge-pill {
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  font-style: italic;
  font-weight: 300;
  padding: 0.2rem 0.6rem 0.35rem 0.5rem;
  color: #fff;
  box-shadow: 1px 1px 3px rgba(6, 51, 116, 0.47);
  font-size: 16px;
}

#portfolio-section .image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
}

.portfolio-item {
  margin: 50px auto;
}

#skills-section {
  background-color: #fff;
  color: black;
  margin-bottom: 70px;
}

small {
  font-size: 18px;
  font-weight: 400;
  color: #2a68aa;
}

.skills-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-gap: 50px;
  justify-content: center;
}

.box {
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 180px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  background: hsla(0, 0%, 96.9%, 0.38823529411764707);
  box-shadow: 3px 3px 5px rgba(59, 135, 202, 0.38823529411764707),
    5px 5px 15px rgba(105, 160, 209, 0.22745098039215686);
  border: 1px solid rgba(180, 232, 253, 0.719);
  color: #000;
  align-content: center;
  justify-content: center;
}

.box p
{
  justify-content: bottom;
}

#portfolio-title h2 {
  margin-top: -0.5rem;
}
#skills-title h2 {
  margin-top: -0.5rem;
}
#contact-title h2 {
  margin-top: -0.5rem;
}

.contact {
  text-align: center;
  padding: 20px;
  background-color: rgb(231, 228, 228);
}

#contact-section {
  color: black;
}

#contact-section .underline-section {
  border-bottom: 3px solid #2a68aa;
  width: 120px;
  margin-top: -6.5px;
  margin-left: auto;
  margin-right: auto;
}

#contact-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.icons {
  margin-top: 10px;
  font-size: 25px;
}

.icons a {
  padding: 5px;
}

.footer-section {
  color: #2a68aa;
  padding: 5px;
}
