body {
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  background: none;
}

.left {
  position: absolute;
  left: 40px;
  top: 10px;
  display: inline-block;
}

.left a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.right {
  position: absolute;
  right: 40px;
  top: 10px;
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}

.container {
  margin: 50px 50px;
  padding: 75px;
  display: flex;
  height: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.container::before {
  content: "";
  background: url("../images/bg.png") no-repeat center center/cover;
  background-attachment: fixed;
  height: 745px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

#introduction h1 {
  text-shadow: 1px 1px 4px #000;
}

.intro-name {
  flex-direction: column;
}

.btn-outline-square {
  border: 3px solid #215c8f;
  border-radius: 5px;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
}

.btn {
  margin: 0px 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.btn-group a:hover {
  background-color: #215c8f;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: all 0.5s;
}

.icon-group a {
  margin: 5px 5px;
  color: #fff;
  font-size: 30px;
}

.icon-group a:hover {
  color: #215c8f;
}

#about-section {
  margin: 175px auto;
  padding: 100px;
  display: flex;
  z-index: 1;
  color: black;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#about-section img {
  border-radius: 5px;
  margin: 30px auto;
  box-shadow: 3px 3px 5px 5px #000;
}

.about-text {
  margin: 30px auto;
  margin-left: 50px;
}

.about-text a {
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
}

.about-text a:hover {
  border: 3px solid rgb(165, 163, 163);
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
